default:
  image:
    name: ubuntu:latest
    entrypoint: [ '/bin/bash', '-c', 'ln -snf /bin/bash /bin/sh && /bin/bash -c $0' ]

stages:
  - create-zip
  - create-release

create-zip:
  stage: create-zip
  except:
    - tags
  script:
    - echo "creating development zip"
    - chmod +x dependencies.sh
    - chmod +x run.sh
  artifacts:
    name: $CI_COMMIT_BRANCH
    paths:
      - config.ini
      - Sensor.py
      - run.sh
      - requirements.txt
      - dependencies.sh
    expire_in: 1 week

create-release:
  stage: create-release
  only:
    - tags
  script:
    - echo "creating release zip"
    - chmod +x dependencies.sh
    - chmod +x run.sh
  artifacts:
    name: $CI_COMMIT_TAG
    paths:
      - config.ini
      - Sensor.py
      - run.sh
      - requirements.txt
      - dependencies.sh
    expire_in: 3 mos