default:
  image:
    name: ubuntu:22.04 
    entrypoint: [ '/bin/bash', '-c', 'ln -snf /bin/bash /bin/sh && /bin/bash -c $0' ]

stages:
  - test

test:
  stage: test
  services:
    - name: docker:dind
      alias: localhost
  script:
    - apt-get update
    - apt-get install wget -y
    - apt-get install unzip -y
    - apt-get install curl -y
    #- wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
    #- apt install ./google-chrome-stable_current_amd64.deb -y
    - wget https://dot.net/v1/dotnet-install.sh
    - chmod +x dotnet-install.sh
    - ./dotnet-install.sh -c Current
    - whereis dotnet
    - echo 'export PATH=$PATH:/root/.dotnet/' >> ~/.bash_profile
    - source ~/.bash_profile
    - export DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1
    - cd Building_Monitoring_WebApp
    - dotnet run &
    - sleep 8
    - cd ..
    - hostname -a
    - hostname -i 
    - hostname -d 
    - curl https://localhost:8090
    - cd Building_Monitoring_WebApp.Tests
    - dotnet test
