default:
  image:
    name: ubuntu:22.04 
    entrypoint: [ '/bin/bash', '-c', 'ln -snf /bin/bash /bin/sh && /bin/bash -c $0' ]

stages:
  - test

test:
  stage: test
  services:
    - name: docker:dind
      alias: localhost
  script:
    - apt-get update
    - apt install wget -y
    - chmod +x setup.sh
    - ./setup.sh
    - wget https://dot.net/v1/dotnet-install.sh
    - chmod +x dotnet-install.sh
    - ./dotnet-install.sh -c Current
    - whereis dotnet
    - curl "https://chromedriver.storage.googleapis.com/103.0.5060.53/chromedriver_linux64.zip" --output chrome.zip
    - mkdir /usr/bin/google-chrome/
    - unzip chrome.zip -d /usr/bin/google-chrome/
    - echo 'export PATH=$PATH:/root/.donet/' >> ~/.bash_profile
    - source ~/.bash_profile
    - echo 'export PATH=$PATH:/usr/bin/google-chrome/' >> ~/.bash_profile
    - source ~/.bash_profile
    - cd Building_Monitoring_WebApp
    - dotnet run &
    - sleep 8
    - cd ..
    - cd Building_Monitoring_WebApp.Tests
    - dotnet test
