default:
  image:
    name: ubuntu:latest
    entrypoint: [ '/bin/bash', '-c', 'ln -snf /bin/bash /bin/sh && /bin/bash -c $0' ]

stages:
  - test

test:
  stage: test
  services:
    - name: docker:dind
      alias: localhost
  script:
    - cd /home
    - ls
    - chmod +x setup.sh
    - ./setup.sh
    - curl "https://chromedriver.storage.googleapis.com/103.0.5060.53/chromedriver_linux64.zip" --output chrome.zip
    - mkdir /usr/bin/google-chrome/
    - unzip chrome.zip -d /usr/bin/google-chrome/
    - echo 'export PATH="$PATH:/home/$USER/.dotnet/"' >> ~/.bashrc
    - echo 'export PATH=$PATH:/usr/bin/google-chrome/' >> ~/.bash_profile
    - source ~/.bash_profile
    - cd Building_Monitoring_WebApp
    - dotnet run &
    - sleep 8
    - cd ..
    - cd Building_Monitoring_WebApp.Tests
    - dotnet test
