default:
  image:
    name: ubuntu:latest
    entrypoint: [ '/bin/bash', '-c', 'ln -snf /bin/bash /bin/sh && /bin/bash -c $0' ]

stages:
  - create-zip
  - create-release

create-zip:
  stage: create-zip
  except:
    - tags
  script:
    - echo "creating development zip"
    - sudo apt-get install zip gzip tar
    - chmod +x dependencies.sh
    - chmod +x run.sh
    - sudo zip $CI_COMMIT_BRANCH.zip config.ini Sensor.py run.sh requirements.txt dependencies.sh
    - curl -uarmin_lezic@live.de:APADz656jsiyKxGFfKWBUPPfJUZ -T monitoring_$CI_COMMIT_BRANCH.zip "https://pswtm.jfrog.io/artifactory/default-generic-local/build-monitoring/test/"
  artifacts:
    name: $CI_COMMIT_BRANCH
    paths:
      - config.ini
      - Sensor.py
      - run.sh
      - requirements.txt
      - dependencies.sh
    expire_in: 1 week

create-release:
  stage: create-release
  only:
    - tags
  script:
    - echo "creating release zip"
    - sudo apt-get install zip gzip tar
    - chmod +x dependencies.sh
    - chmod +x run.sh
    - sudo zip monitoring_v$CI_COMMIT_TA.zip config.ini Sensor.py run.sh requirements.txt dependencies.sh
    - curl -uarmin_lezic@live.de:APADz656jsiyKxGFfKWBUPPfJUZ -T monitoring_v$CI_COMMIT_TA.zip "https://pswtm.jfrog.io/artifactory/default-generic-local/build-monitoring/releases/"
  artifacts:
    name: $CI_COMMIT_TAG
    paths:
      - config.ini
      - Sensor.py
      - run.sh
      - requirements.txt
      - dependencies.sh
    expire_in: 3 mos