default:
  image: mcr.microsoft.com/dotnet/sdk:6.0
 

stages:
  - test

test:
  stage: test
  services:
    - name: docker:dind
      alias: localhost
  script: 
    - apt install chromium-chromedriver
    - cd Building_Monitoring_WebApp
    - dotnet run &
    - sleep 8
    - cd ..
    - cd Building_Monitoring_WebApp.Tests
    - dotnet test
