@page "/globalsettings"

<div class="flex w-full justify-center">
	<div class="w-60">
		<h1 class="text-center font-bold text-xl my-5">Global Settings</h1>

		<!-- Temperature -->
		<p class="text-center text-xl">Target Temperature:</p>
		<div class="flex items-center mb-4">
			<button @onclick="decrementTemp" class="minus-btn">-</button>
			<p class="settings-values">@cnfg.TargetTemp</p>
			<button @onclick="incrementTemp" class="plus-btn">+</button>
			<span class="mx-auto w-12 text-xl font-bold">°C</span>
		</div>

		<!-- Humidity -->
		<p class="text-center text-xl">Target Humidity:</p>
		<div class="flex items-center mb-4">
			<button @onclick="decrementHumi" class="minus-btn">-</button>
			<p class="settings-values">@cnfg.TargetHumi</p>
			<button @onclick="incrementHumi" class="plus-btn">+</button>
			<span class="mx-auto w-12 text-xl font-bold">%</span>
		</div>

		<!-- Update Rate -->
		<p class="text-center text-xl">Update Rate:</p>
		<div class="flex items-center mb-4">
			<button @onclick="decrementUpdate" class="minus-btn">-</button>
			<p class="settings-values">@cnfg.UpdateRate</p>
			<button @onclick="incrementUpdate" class="plus-btn">+</button>
			<span class="mx-auto w-12 text-xl font-bold">Sec.</span>
		</div>

		<!-- Tolerance -->
		<p class="text-center text-xl">Tolerance:</p>
		<div class="flex items-center mb-4">
			<button @onclick="decrementTole" class="minus-btn">-</button>
			<p class="settings-values">@(@cnfg.TargetHumi-@cnfg.LoToleHumi)</p>
			<button @onclick="incrementTole" class="plus-btn">+</button>
			<span class="mx-auto w-12 text-xl font-bold">+/-</span>
		</div>

		<!-- Save and Cancel Buttons -->
		<div class="flex flex-col justify-center">
			<button @onclick="saveChanges" class="m-3 py-1 bg-sky-500 border-2 rounded-full text-center font-bold hover:text-gray-700 focus:text-gray-700">Save</button>
			<button @onclick="undoChanges" class="mx-6 py-1 bg-gray-200 rounded-full">Cancel</button>
		</div>
	</div>
</div>

@code {
	public Config oldCnfg { get; set; } = new Config();
	public Config cnfg { get; set; } = new Config();
	private double tolerance = 2.0;
	private int maxLimit = 500;
	private int minLimit = 0;

	[Inject]
	public IConfigService CnfgService { get; set; }

	protected async override Task OnInitializedAsync()
	{

		oldCnfg = await CnfgService.GetConfig();
		cnfg = await CnfgService.GetConfig();

	}
	// Temperature Buttons - functionallity
	private void decrementTemp() { cnfg.TargetTemp -= 0.5; }
	private void incrementTemp() { cnfg.TargetTemp += 0.5; }

	// Humidity Buttons - functionallity
	private void decrementHumi() { cnfg.TargetHumi -= 0.5; }
	private void incrementHumi() { cnfg.TargetHumi += 0.5; }

	// Update Rate Buttons - functionallity
	private void decrementUpdate() { cnfg.UpdateRate -= 10; }
	private void incrementUpdate() { cnfg.UpdateRate += 10; }

	// Tolerance Buttons - functionallity
	private void decrementTole() { tolerance -= 0.5;	}
	private void incrementTole() { tolerance += 0.5;    }

	// Save and Cancel Button - functionallity
	private void saveChanges() { /* TODO: patch to db */}
	private void undoChanges() { cnfg = oldCnfg; /* TODO: go back to detail view */ }
}
