<div class="shadow-md py-6 bg-white flex w-full flex-col lg:flex-row">
        
        <div class="flex justify-center flex-row px-3">
            <button @onclick="ToggelMenu" class="lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
            </button>
            <h1 class="text-cyan-700 text-4xl">Building Monitoring</h1>
        </div>

        <ul class="lg:flex lg:flex-row @MenuCssClass text-xl space-x-6 items-end">

            <li>
                <NavLink @onclick="ToggelMenu" href="">
                    <span class="block lg:px-2 py-2 text-gray-500 hover:text-gray-700 focus:text-gray-700 lg:hidden">Detail View</span>
                </NavLink>
            </li>

            <li>
                <NavLink @onclick="ToggelMenu" href="listview">
                    <span class="block lg:px-2 py-2 text-gray-500 hover:text-gray-700 focus:text-gray-700 lg:hidden">List View</span>
                </NavLink>
            </li>

            <li>
                <a href="globalsettings" class="block lg:px-2 py-2 text-gray-500 hover:text-gray-700 focus:text-gray-700">Global Config</a>
            </li>

            <li>
                <a class="block lg:px-2 py-2 text-gray-500 hover:text-gray-700 focus:text-gray-700">Individual Config</a>
            </li>

        </ul>
</div>

@code {
    private bool menuVisible = false;

    private string? MenuCssClass => menuVisible ? null : "hidden";

    private void ToggelMenu()
    {
        menuVisible = !menuVisible;
    }
}