<!-- Mobile NavMenu -->
<ul class="absolute shadow-2xl left-0 top-0 pt-20 px-5 bg-white shadow-md h-full flex-col @MenuCssClass text-center font-bold lg:hidden">
    <!-- View Buttons -->
    <li class="text-xl">Views</li>
    <NavLink @onclick="ToggelMenu" href="">
        <li class="nav-btn">Detail</li>
    </NavLink>

    <NavLink @onclick="ToggelMenu" href="listview">
        <li class="nav-btn">List</li>
    </NavLink>

    <!-- Settings Buttons -->
    <li class="text-xl">Configs</li>
    <NavLink @onclick="ToggelMenu" href="globalsettings">
        <li class="nav-btn">Global</li>
    </NavLink>

    <NavLink @onclick="ToggelMenu" href="">
        <li class="nav-btn">Individual</li>
    </NavLink>
</ul>

<!-- Menu Icon -->
<button @onclick="ToggelMenu" class="absolute left-0 ml-5 mt-4 sm:mt-5 pt-1 lg:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
    </svg>
</button>

<!-- Desktop NavMenu -->
<div class="shadow-md py-6 bg-white w-full items-center lg:flex">
    <h1 class="text-cyan-700 text-center text-2xl sm:text-4xl lg:basis-1/2"><a href="">Building Monitoring</a></h1>
    <ul>
        <NavLink href="globalsettings">
            <li class="nav-btn-desktop">Global Config</li>
        </NavLink>

        <NavLink>
            <li class="nav-btn-desktop">Individual Config</li>
        </NavLink>
    </ul>
</div>

@code {
    private bool menuVisible = false;

    private string? MenuCssClass => menuVisible ? null : "hidden";

    private void ToggelMenu()
    {
        menuVisible = !menuVisible;
    }
}